{% extends 'yhpark/base.html' %} {% block content %}
<div class="container">
  <div class="clearfix" style="margin-left:auto; margin-right:auto;">
      <div class="col-md-10 wrap_content">
          <div class="page-header clearfix text-center">
              <h2>공지사항</h2>
          </div>
          {% if boardList %}
          <table class="table table-hover">
              <thead>
                  <tr class="text-center">
                      <td>글번호</td>
                      <td>제목</td>
                      <td>작성일</td>
                  </tr>
              </thead>
              <tbody>
                {% for boardRow in boardList %}
                <tr class="text-center" onClick="location.href='{% url 'notice_datail' pk=boardRow.id %}'">
                  <td>{{ boardRow.id }}</td>
                  <td>{{ boardRow.title }}</td>
                  <td>{{ boardRow.post_time }}</td>
                </tr>
                {% endfor %}
              </tbody>
          </table>
          {% else %}
          <h3>게시글이 없습니다</h3>
          {% endif %}
          <div class="clearfix">
              <div class="pull-right">
                  <a href="{% url 'notice_write' %}" class="btn btn-default">
                      <i class="glyphicon glyphicon-pencil"></i>
                  </a>
              </div>
          </div>
      </div>
  </div>
</div>
{% endblock %}
