{% extends 'yhpark/base.html' %} {% load staticfiles %} {% block content %}
<link href='{% static "bootstrap.min.css" %}' rel="stylesheet">
<link href='{% static "agency.min.css" %}' rel="stylesheet">
<link href='{% static "font-awesome.min.css" %}' rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>


<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <img src='{% static "yhpark.PNG" %}' style="max-width:100%;height:auto;"></img>
        <h2 class="section-heading">박유현 교수님</h2>
        <br>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
                      <img src='{% static "career.png" %}' style="max-width:100%;height:auto;"></img>
                    </span>
        <h4 class="service-heading">약력</h4>
        <p class="text-muted">동의대학교 소프트웨어 공학과 부교수</p>
        <p class="text-muted">부산대학교 전자계산학과 졸업(학사, 석사, 박사)</p>
        <p class="text-muted">한국전자통신연구원(ETRI) 선임연구원</p>
        <p class="text-muted">한국국방연구원(KIDA) 연구원</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
                        <img src='{% static "computer.png" %}' style="max-width:100%;height:auto;"></img>
                    </span>
        <h4 class="service-heading">연구 및 관심분야</h4>
        <p class="text-muted">인터넷 시스템, 클러스터 시스템</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
                        <img src='{% static "person.png" %}' style="max-width:100%;height:auto;"></img>
                    </span>
        <h4 class="service-heading">연구생</h4>
        <p class="text-muted">4학년 이상화</p>
        <p class="text-muted">4학년 박석현</p>
        <p class="text-muted">3학년 김예범</p>
        <p class="text-muted">3학년 서호영</p>
      </div>
    </div>
  </div>
</section>

<!-- Portfolio Grid Section -->
<section id="portfolio" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">수상 실적</h2>
        <h3 class="section-subheading text-muted">국내외 논문지</h3>
      </div>
    </div>
    <div class="row">
      <div class="portfolio-hover">
        <div class="portfolio-hover-content">
      <div class="col-md-4 col-sm-6 portfolio-item" onclick="location.href='http://www.dbpia.co.kr/Journal/ArticleDetail/NODE07114305?TotalCount=2&Seq=1&q=(%5B%EB%B0%95%EC%9C%A0%ED%98%84%C2%A7coldb%C2%A72%C2%A751%C2%A73%5D)&searchWord=%EC%A0%84%EC%B2%B4%3D%5E%24%EB%B0%95%EC%9C%A0%ED%98%84%5E*&fPublishYear=43%5E_2017%5E_2017%EB%85%84&Multimedia=0&isIdentifyAuthor=0&Collection=0&SearchAll=%EB%B0%95%EC%9C%A0%ED%98%84&isFullText=0&specificParam=0&SearchMethod=0&Sort=1&SortType=desc&Page=1&PageSize=20'">
        <div class="portfolio-caption">
          <h4>익명평가 가능한 개방형 문제은행...</h4>
          <p class="text-muted">장희숙, 박유현</p>
        </div>
      </div>
      </div>
    </div>
    <div class="portfolio-hover">
      <div class="col-md-4 col-sm-6 portfolio-item" onclick="location.href='http://www.dbpia.co.kr/Journal/ArticleDetail/NODE07163274?TotalCount=2&Seq=2&q=(%5B%EB%B0%95%EC%9C%A0%ED%98%84%C2%A7coldb%C2%A72%C2%A751%C2%A73%5D)&searchWord=%EC%A0%84%EC%B2%B4%3D%5E%24%EB%B0%95%EC%9C%A0%ED%98%84%5E*&fPublishYear=43%5E_2017%5E_2017%EB%85%84&Multimedia=0&isIdentifyAuthor=0&Collection=0&SearchAll=%EB%B0%95%EC%9C%A0%ED%98%84&isFullText=0&specificParam=0&SearchMethod=0&Sort=1&SortType=desc&Page=1&PageSize=20'">
        <div class="portfolio-caption">
          <h4>깊이영상을 이용한 사람의 키 추정 방법</h4>
          <p class="text-muted">김흥준, 박유현, 권순각</p>
        </div>
      </div>
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item" onclick="location.href='http://www.dbpia.co.kr/Journal/ArticleDetail/NODE06597959?TotalCount=4&Seq=1&q=(%5B%EB%B0%95%EC%9C%A0%ED%98%84%C2%A7coldb%C2%A72%C2%A751%C2%A73%5D)&searchWord=%EC%A0%84%EC%B2%B4%3D%5E%24%EB%B0%95%EC%9C%A0%ED%98%84%5E*&fPublishYear=43%5E_2016%5E_2016%EB%85%84&Multimedia=0&isIdentifyAuthor=0&Collection=0&SearchAll=%EB%B0%95%EC%9C%A0%ED%98%84&isFullText=0&specificParam=0&SearchMethod=0&Sort=1&SortType=desc&Page=1&PageSize=20'">

        <div class="portfolio-caption">
          <h4>컴퓨터 분야 논문지에서 저자의 관심...</h4>
          <p class="text-muted">이주연, 박유현</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item" onclick="location.href='http://www.dbpia.co.kr/Journal/ArticleDetail/NODE06683674?TotalCount=4&Seq=2&q=(%5B%EB%B0%95%EC%9C%A0%ED%98%84%C2%A7coldb%C2%A72%C2%A751%C2%A73%5D)&searchWord=%EC%A0%84%EC%B2%B4%3D%5E%24%EB%B0%95%EC%9C%A0%ED%98%84%5E*&fPublishYear=43%5E_2016%5E_2016%EB%85%84&Multimedia=0&isIdentifyAuthor=0&Collection=0&SearchAll=%EB%B0%95%EC%9C%A0%ED%98%84&isFullText=0&specificParam=0&SearchMethod=0&Sort=1&SortType=desc&Page=1&PageSize=20'">

        <div class="portfolio-caption">
          <h4>구글 검색엔진을 활용한 키워드 검색...</h4>
          <p class="text-muted">이주연, 이중화, 박유현</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item" onclick="location.href='http://www.dbpia.co.kr/Journal/ArticleDetail/NODE06672212?TotalCount=4&Seq=3&q=(%5B%EB%B0%95%EC%9C%A0%ED%98%84%C2%A7coldb%C2%A72%C2%A751%C2%A73%5D)&searchWord=%EC%A0%84%EC%B2%B4%3D%5E%24%EB%B0%95%EC%9C%A0%ED%98%84%5E*&fPublishYear=43%5E_2016%5E_2016%EB%85%84&Multimedia=0&isIdentifyAuthor=0&Collection=0&SearchAll=%EB%B0%95%EC%9C%A0%ED%98%84&isFullText=0&specificParam=0&SearchMethod=0&Sort=1&SortType=desc&Page=1&PageSize=20'">

        <div class="portfolio-caption">
          <h4>컴퓨터 소프트웨어 전공 능력 배양을...</h4>
          <p class="text-muted">권순각, 박유현, 한수환</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item" onclick="location.href='http://www.dbpia.co.kr/Journal/ArticleDetail/NODE07093712?TotalCount=4&Seq=4&q=(%5B%EB%B0%95%EC%9C%A0%ED%98%84%C2%A7coldb%C2%A72%C2%A751%C2%A73%5D)&searchWord=%EC%A0%84%EC%B2%B4%3D%5E%24%EB%B0%95%EC%9C%A0%ED%98%84%5E*&fPublishYear=43%5E_2016%5E_2016%EB%85%84&Multimedia=0&isIdentifyAuthor=0&Collection=0&SearchAll=%EB%B0%95%EC%9C%A0%ED%98%84&isFullText=0&specificParam=0&SearchMethod=0&Sort=1&SortType=desc&Page=1&PageSize=20'">

        <div class="portfolio-caption">
          <h4>구형 객체의 깊이 영상 부호화 방법</h4>
          <p class="text-muted">권순각, 이동석, 박유현</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Contact Section -->
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">찾아 오시는 길</h2>
        <h3 style="font-size:15px; color:#F5F4F4;">도로명 주소 : 부산광역시 부산진구 엄광로 176 동의대학교 정보공학관 901호<br><br>지번 주소 : 부산광역시 부산진구 가야동 464-121 동의대학교 정보공학관 901호</h3>
      </div>

      <div id="map" style="width:100%;height:350px;">
        <script type="text/javascript" src="//apis.daum.net/maps/maps3.js?apikey=f06db548c98701cea74fdd012ba4bbec"></script>
        <script>
        var mapContainer = document.getElementById('map'), // 지도를 표시할 div
            mapOption = {
                center: new daum.maps.LatLng(35.146035, 129.036756), // 지도의 중심좌표
                level: 3 // 지도의 확대 레벨
            };

        var map = new daum.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

        // 마커가 표시될 위치입니다
        var markerPosition  = new daum.maps.LatLng(35.146035, 129.036756);

          var iwContent = '<div style="padding:5px;">박유현 교수님 연구실<br><br>정보공학관 901호</div>';
        // 마커를 생성합니다
        var marker = new daum.maps.Marker({
            position: markerPosition,
            content : iwContent
        });

        // 마커가 지도 위에 표시되도록 설정합니다
        marker.setMap(map);

        // 아래 코드는 지도 위의 마커를 제거하는 코드입니다
        // marker.setMap(null);
        </script>
      </div>
    </div>
  </div>
</section>

{% endblock %}
