{% extends 'yhpark/base.html' %} {% load staticfiles %} {% block content %}
<link href='{% static "bootstrap.min.css" %}' rel="stylesheet">
<link href='{% static "agency.min.css" %}' rel="stylesheet">
<link href='{% static "font-awesome.min.css" %}' rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>


<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <img src='{% static "yhpark.PNG" %}' style="max-width:100%;height:auto;"></img>
        <h2 class="section-heading">이상화</h2>
        <br>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
                      <img src='{% static "career.png" %}' style="max-width:100%;height:auto;"></img>
                    </span>
        <h4 class="service-heading">약력</h4>
        <p class="text-muted">동의대학교 소프트웨어 공학과 4학년</p>
        <p class="text-muted">동의대학교 소프트웨어 공학과 2016 행정연수생</p>
        <p class="text-muted">동의대학교 소프트웨어 공학과 915호 연구실 소속</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
                        <img src='{% static "computer.png" %}' style="max-width:100%;height:auto;"></img>
                    </span>
        <h4 class="service-heading">연구 및 관심분야</h4>
        <p class="text-muted">데이터 사이언스, 임베디드 프로그래밍</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
                        <img src='{% static "trophy.png" %}' style="max-width:100%;height:auto;"></img>
                    </span>
        <h4 class="service-heading">수상</h4>
        <p class="text-muted">한국 멀티미디어 학회 2017 춘계학술대회 우수논문상</p>
        <p class="text-muted">2016 콜라보 페스티벌 우수상</p>
      </div>
    </div>
  </div>
</section>
프
<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <img src='{% static "yhpark.PNG" %}' style="max-width:100%;height:auto;"></img>
        <h2 class="section-heading">박석현</h2>
        <br>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
                      <img src='{% static "career.png" %}' style="max-width:100%;height:auto;"></img>
                    </span>
        <h4 class="service-heading">약력</h4>
        <p class="text-muted">동의대학교 소프트웨어 공학과 4학년</p>
        <p class="text-muted">동의과학대학교 컴퓨터정보계열 졸업</p>
        <p class="text-muted">동의대학교 소프트웨어 공학과 915호 연구실 소속</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
                        <img src='{% static "computer.png" %}' style="max-width:100%;height:auto;"></img>
                    </span>
        <h4 class="service-heading">연구 및 관심분야</h4>
        <p class="text-muted">웹 프로그래밍, 서버 프로그래밍</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
                        <img src='{% static "trophy.png" %}' style="max-width:100%;height:auto;"></img>
                    </span>
        <h4 class="service-heading">수상</h4>
        <p class="text-muted">한국 멀티미디어 학회 2017 춘계학술대회 우수논문상</p>
        <p class="text-muted">LINC사업단 전국 캡스톤경진대회 장려상</p>
        <p class="text-muted">3학년 김예범</p>
        <p class="text-muted">3학년 서호영</p>
      </div>
    </div>
  </div>
</section>

<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <img src='{% static "yhpark.PNG" %}' style="max-width:100%;height:auto;"></img>
        <h2 class="section-heading">김예범</h2>
        <br>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
                      <img src='{% static "career.png" %}' style="max-width:100%;height:auto;"></img>
                    </span>
        <h4 class="service-heading">약력</h4>
        <p class="text-muted">동의대학교 소프트웨어 공학과 3학년</p>
        <p class="text-muted">동의대학교 소프트웨어 공학과 915호 연구실 소속</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
                        <img src='{% static "computer.png" %}' style="max-width:100%;height:auto;"></img>
                    </span>
        <h4 class="service-heading">연구 및 관심분야</h4>
        <p class="text-muted">BCI(뇌파 분석)</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
                        <img src='{% static "trophy.png" %}' style="max-width:100%;height:auto;"></img>
                    </span>
        <h4 class="service-heading">수상</h4>

      </div>
    </div>
  </div>
</section>

<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <img src='{% static "yhpark.PNG" %}' style="max-width:100%;height:auto;"></img>
        <h2 class="section-heading">서호영</h2>
        <br>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
                      <img src='{% static "career.png" %}' style="max-width:100%;height:auto;"></img>
                    </span>
        <h4 class="service-heading">약력</h4>
        <p class="text-muted">동의대학교 소프트웨어 공학과 3학년</p>
        <p class="text-muted">동의대학교 소프트웨어 공학과 915호 연구실 소속</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
                        <img src='{% static "computer.png" %}' style="max-width:100%;height:auto;"></img>
                    </span>
        <h4 class="service-heading">연구 및 관심분야</h4>
        <p class="text-muted">운동</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
                        <img src='{% static "trophy.png" %}' style="max-width:100%;height:auto;"></img>
                    </span>
        <h4 class="service-heading">수상</h4>
      </div>
    </div>
  </div>
</section>


{% endblock %}
